.product-card {
    width: 200px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px gray;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
}

.product-card:nth-child(even) {
    background-color: #f2f2f2;
}

#cart {
    border: 2px solid black;
}
