
h1, h2, h3 {
    color: #004080;
}


p {
    color: #333;
}


.service-card {
    padding: 20px;
    margin: 15px;
    border: 2px solid #4da6ff;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}


.services p {
    font-size: 14px;
}


#contact {
    padding: 30px;
}


input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
}


button:hover {
    background-color: #4da6ff;
    color: white;
}
